extends layout
block content
  h1 Create new message
  form(method="POST" action="/new")
    label(for="user") User: 
    input#user(type="text" name="user" value=(msg?msg.user:''))
    label(for="message") Message: 
    input#message(type="text" name="message" value=(msg?msg.text:''))
    button(type="submit") Send
  if errors 
    ul 
      for error in errors
        li!=error.msg
