extends layout

block content
  h1= title
  for msg in messages 
    div.msg-box
      p #[strong #{msg.username}] #{msg.date_added_formatted}
      p=msg.text
  form(action='/new')
    button(type='submit') Create a new message